{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">	
	<title>chamba page</title>
	<style>
		
.a{
font-size:40px;
font-style:italic;
color:blue;
}

.b{
font-size:25px;
font-style:italic;
}
body{
background-color: lavender;
}

	ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: grey;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
nav ul li {
	font-weight: bold;
	width: 175px;
	height: 60px;
	line-height: 20px;
	float:right;
	text-align: center;
	word-spacing: 10px;
	margin-top: 20px;
}
nav ul ul{
	position: absolute;
	display: none;


}
nav ul li:hover > ul{
	display: block;

} 
   /*nav ul li:hover{
   background:  pink;
    transition: all ease-in-out 0.45s;
} 

	
</style>

</head>

<body><center>
	<nav id="active">
	<ul>     
		<li><a href="contact">CONTACT US</a></li>
	
		<li><a href="gallery">GALLERY</a>
			
	 <li><a href="file:///C:/Users/new%20user/Desktop/bootstrap/wbsite.html">TOURIST PLACE</a>

	<ul>
        <li><a href="kangra">KANGRA</a></li>
        <li><a href="chamba">CHAMBA</a></li>
        <li><a href="dharshala">DHARAMSHALA</a></li>
        <li><a href="shimla">SHIMLA</a></li>
        <li><a href="kullu">KULLU-MANALI</a></li>
       
    </ul>
		</li>
		
	
		<li><a href="home">HOME</a></li>
	</ul>
	</nav>
	<h1 style="font-size:40px;font-style:italic;"><u>WELCOME TO CHAMBA</u></h1>



	<p style="font-size: 25px; font-style: italic;">Chamba is a town in the Chamba district in the Indian state of Himachal Pradesh. According to the 2001 Indian census, the town is situated on the banks of the Ravi River (a major tributary of the Trans-Himalayan Indus River), at its confluence with the Sal River. Chambial were the Rulers of Chamba State Chambials use suffix Varmans.The town has numerous temples and palaces, and hosts two popular jatras (fairs), the "Suhi Mata Mela" and the "Minjar Mela", which last for several days of music and dancing. Chamba is also well noted for its arts and crafts, particularly its Pahari paintings, which originated in the Hill Kingdoms of North India between the 17th and 19th century, and its handicrafts and textiles.<br><br>



					Country:-India<br>
					State:-Himachal pradesh<br>
					Capital:-Shimla<br>
					District:-Chamba<br>
					Language:-Hindi,English<br><br></p>

	<div style="border-style: groove; width: 900px; height: 500px;"><img src="{% static 'images/himachal-dev-bhoomi.jpg' %}" width="900" height="550"></div> 
		<br>



<h5 style="font-size:40px;font-style:italic;color:blue;"><u>Best Places to Visit in Chamba</u> </h5>

	<dl>
		<dt class="a">01.Khajjiar</dt><br>
		<div style="border-style:groove; height:500px; width:900px;"><img src="{% static 'images/kha.jpg' %}"height="500" width="900"></div><br><br>
<dd class="b">The history of Khajjiar is linked to the rulers of Chamba. The local Rajput rulers ruled Chamba valley in the 6th century ad and made it their capital city. This region became the part of the Mughal Empire in the medieval period and later came under various Sikh kingdoms. Finally, it was taken over by the British. It became a part of the state of Himachal Pradesh when it came into being on April 15, 1948.Khajjiar is a small grassy meadow located in the picturesque Chamba valley. It is an important picnic spot whose quiet environs beacon the tourists traveling between Dalhousie and Chamba. The stopover at Khajjiar is a welcome break for the weary tourists.</dd>
</dl> 


<dl>
		<dt class="a">02.Laxmi Narayan Temple</dt><br>
		<div style="border-style:groove; height:500px; width:900px;"><img src="{% static 'images/laxmina.jpg' %}"height="500" width="900"></div><br><br>
 <dd class="b">Laxmi Narayan Temple is one of the most popular temples of Chamba that is known for its great historical significance and architectural marvel. There are also other temples in the complex like Radha Krishna Temple- built by Rani Sarda (wife of Raja Jit Singh in 1825), Shiva Temple of Chandragupta- built by Sahil Varman and the Gauri Shankar Temple- built by Yugkar Varman (the son of Sahil Varman). There is a Garuda statue in metal watches over the main gate, which is placed by Raja Balabhadra Verma. The latest addition to the shrine in historical periods was in answer to the Mughal terror. Then Aurangzeb the emperor order to demolish the temple and the Raja Chhatra Singh included gilded elevations to the temple in the year 1678.</dd>
</dl>



<dl>
		<dt class="a">03. Akhand Chandi Palace</dt><br>
		<div style="border-style:groove; height:500px; width:900px;"><img src="{% static 'images/akhand-chandi-palace-chamba-3.jpg' %}" height="500" width="900"></div><br><br>
<dd class="b">Built by Raja Umed Singh in the 18th century, Akhand Chandi Palace is an epitome of royalness and grandeur in Chamba district. Perched on a hilltop, the antique palace overlooks Rang Mahal, Laxmi Narayan Temple, and Sui Mata Temple with much pride. Popularly known as Chamba Palace, it is one of the recommended places to see in Chamba. The palace has three sections which form an incomplete square. Few of the sections were constructed later which is why you can see an ideal blend of British and Mughal architecture.</dd>
</dl>



<dl>
		<dt class="a">04.Church of Scotland Chamba</dt><br>
		<div style="border-style:groove; height:500px; width:900px;"><img src="{% static 'images/church-450.jpg' %}" height="500" width="900"></div><br><br>
<dd class="b">It's a small edifice of earth colored stone and arched windows, which complete the architectural style of Chamba Church. The Raja had lent a generous grant to make the church and assured that it was built in fine stone brickwork. An undecorated displayed brick walls distinguish sharply against the turmoil of its encircled edifice. The walls are backed by buttresses and the lancer arch windows offer ventilation and light. Travellers can easily reach Chamba Church which is located next to the popular Laxmi Narayan Temple.

</dd>
</dl>

<script src="js/jquery.js"></script>
<script src="js/bootsrap.min.js"></script>

</center>
</body>
</html>