{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>dharmshala page</title><style>
		ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: grey;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
nav ul li {
	font-weight: bold;
	width: 175px;
	height: 60px;
	line-height: 20px;
	float:right;
	text-align: center;
	word-spacing: 10px;
	margin-top: 30px;
}
nav ul ul{
	position: absolute;
	display: none;


}
nav ul li:hover > ul{
	display: block;

} 
   /*nav ul li:hover{
   background:  pink;
    transition: all ease-in-out 0.45s;*/
} 

	
		.a{
font-size:40px;
font-style:italic;
color:blue;
}
.b{
font-size:25px;
font-style:italic;
}

.button
{
	color:white;
	background-color: black;
	border-radius: 10px;
	height:50px;
	float: left;
} 

body{
background-color: lavender;
}

	</style>

</head>
<body>
	
	<center>

  <a href="home"><button class="button"> <- Back To Home</button></a>

	<h1 style="font-size:40px"><i><b><u><center>WELCOME TO DHARMSHALA</u></b></i></center></h1>
	<p style="font-size: 25px; font-style: italic;">Dharamshala (also spelled Dharamsala) is the district headquarters of Kangra district in India. It was formerly known as Bhagsu. The Dalai Lama's residence and the headquarters of the Central Tibetan Administration (the Tibetan government in exile) are in Dharamshala. Dharamshala is 18 km (11 mi) from Kangra. Dharamshala has been selected as one of the hundred Indian cities to be developed as a smart city under PM Narendra Modi's flagship Smart Cities Mission. On 19 January 2017, Chief Minister Virbhadra Singh declared Dharamshala as the second capital of Himachal Pradesh state, making Himachal Pradesh the third state of India with two capitals after Jammu and Kashmir and Maharashtra.<BR><BR>

	    Country:-India<br>
	    State:-Himachal pradesh<br>
	    capital:-Shimla<br>
	    District:-Kangra<br>
	   Language:-Hindi, English<br><br></p>

<div style="border-style:groove; height:500px; width:900px;"><img src="{% static 'images\ds.jpg' %}" height="500" width="900"></div><br>

<h5 style="font-size:40px;font-style:italic;color:blue;"><u>Best Places to Visit in dharmshala</u></h5> 

 <dl>
     	<dt style="font-size:40px;font-style:italic;color:blue;">01.Dharmshala Stadium</dt><BR><BR>
	<div style="border-style:groove; height:500px; width:900px;"><img src="{%static 'images/hpmc.jpg' %}" height="500" width="900"></div><br><br>
	<a href="https://www.google.com/search?rlz=1C1HLDY_enIN818IN818&sxsrf=ACYBGNR8yrv-CWhRvbZqAzn4Mpi3yM0SYg:1569906082429&q=LOCATION+OF+DHARMSHALA+STADIUM&npsic=0&rflfq=1&rlha=0&rllag=32199535,76325120,514&tbm=lcl&ved=2ahUKEwjNvP7yo_rkAhVIcCsKHS4FBrkQtgN6BAgJEAQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:1&rldoc=1#rlfi=hd:;si:;mv:[[32.2227278,76.3267123],[32.1934499,76.3194398]];tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:1">LOCATION OF DHARMSHALA STADIUM</a>
<dd class="b">Himachal Pradesh Cricket Association Stadium, (Hindi: हिमाचल प्रदेश क्रिकेट एसोसिएशन स्टेडियम) abbreviated as the HPCA Stadium, is a picturesque cricket stadium located in the city of Dharamshala District in Himachal Pradesh, India. The town of Dharamsala is best known internationally as the home of the Dalai Lama of Tibet.The first One Day International (ODI) at this stadium was played between India and England on 27 January 2013. England won the match by 7 wickets. The first Test at this stadium was played between India and Australia from 25–29 March 2017.</dd>
</dl><BR>
<dl>
  <dt style="font-size:40px;font-style:italic;color:blue;">02.Mcleodganj</dt>
<br><br>
   <div style="border-style:groove;width:900px;height:500px;"><img src="{%static 'images/meclo.jpg' %}"style="width:900px;height:500px;"></div><br><br>
   <a href="https://www.google.com/maps/place/McLeod+Ganj,+Dharamshala,+Himachal+Pradesh/@32.244002,76.3116358,14z/data=!4m5!3m4!1s0x391b56d4e3d36d19:0xa3e8725f0584be76!8m2!3d32.2425758!4d76.3212781">LOCATION OF MCLEODGANJ</a>
<dd class="b">"Land of His Holiness the Dalai Lama- Little Lhasa"<br><br>Mcleodganj is a hill station near Dharamshala, popular among trekkers. Its culture is a beautiful blend of Tibetan with some British influence.

Also known as Little Lhasa and famous around the world for being home to the Tibetan spiritual leader Dalai Lama, Mcleodganj is a beautiful town situated near upper Dharamsala. Nestled amidst majestic hills and lush greenery, this town is culturally blessed by a prominent Tibetan influence owing to the major settlement of Tibetans here. Mcleodganj has one of the most mesmerising landscapes in the entire state of Himachal Pradesh and attracts a lot of tourists throughout the year. The towns of Dharamsala, Mcleodganj, Bhagsu Nag and Kangra are situated very close to each other and tourists must cover all these destinations while travelling here. Few of the most eminent and religiously significant monasteries in India are located here, including the Namgyal Monastery and Tsuglagkhang, where the spiritual leader Dalai Lama resides.
</dd>
</dl><br>


<dl>
<dt style="font-size:40px;font-style:italic;color:blue;">03.Monestry</dt>
<br><br>

<div style="border-style:groove;width:900px;height:500px;"><img src="{%static 'images/monestry.jpg' %}"style="width:900px;height:500px;"></div><br><br>

<dd class="b">A monastery is a building or complex of buildings comprising the domestic quarters and workplaces of monastics, monks or nuns, whether living in communities or alone (hermits). A monastery generally includes a place reserved for prayer which may be a chapel, church, or temple, and may also serve as an oratory, or in the case of communities anything from a single building housing only one senior and two or three junior monks or nuns, to vast complexes and estates housing tens or hundreds. A monastery complex typically comprises a number of buildings which include a church, dormitory, cloister, refectory, library, balneary and infirmary. 
</dd>
</dl><br>


<dl>
<dt style="font-size:40px;font-style:italic;color:blue;">04.Dal Lake</dt>	<br><br>
<div style="border-style:groove;width:900px;height:500px;"><img src="{%static 'images/dal lake.jpg' %}" style="width:900px;height:500px;"></div><br><br>

<dd class="b">Dal Lake is a medium altitude lake located in the Kangra district, Dharamshala and is considered one of the most popular tourist attractions to visit. The tourist attraction is visited by nature lovers throughout the day and is a must visit place for adventure seekers. Dal Lake in Dharamshala offers trekking expedition along with the peaceful afternoon to spend while watching different kinds of fish in the lake with an exquisite background and weather.

The beautiful lake has got its name from Kashmir's Dal Lake and is surrounded by lush green Deodar forest at a height of 1,775 meters. There is also Shiv Mandir located around the banks of the lake which makes it a sacred spot.


</dd>
</dl><br>


<dt style="font-size:40px;font-style:italic;color:blue;">05.Triund</dt>	<br><br>
<div style="border-style:groove;width:900px;height:500px;"><img src="{%static 'images/triund.jpg' %}" style="width:900px;height:500px;"></div><br><br>

<dd class="b">Triund Trek is one of the most popular treks to go over a weekend from Delhi and Chandigarh. It is perhaps the easiest Himalayan trek to do on your own.

With breathtaking views of the Kangra valley and the snow-covered Dhauladhar ranges, it is also very picturesque. 

Triund is the ideal destination for those seeking a hassle-free taste of trekking in the Himalayas. The trek can easily be done over a weekend. 

The trail to Triund is short but steep. The steep climb is well-compensated by refreshing walks amongst rhododendron and oak trees. There are also various songbirds in the forests along the trail which make it a birdwatcher’s delight.

Considering it’s an easy trek and with the effortless accessibility from Dharamshala or Mcleodganj, there are a large number of trekkers who go this trek, making it difficult to enjoy the serenity of the place and can get crowded on top during the weekends or holiday season. It is better to experience the beauty of this trek during the weekdays. 

</dd>
</dl><br>



<dt style="font-size:40px;font-style:italic;color:blue;">06.Bhagsunag</dt>	<br><br>
<div style="border-style:groove;width:900px;height:500px;"><img src="{%static 'images/bhagsu.jpg' %}" style="width:900px;height:500px;"></div><br><br>


</dd>

<dd class="b"> 
At a distance of 3 km from McLeod Ganj & 7 km from Dharamshala, Bhagsunag Falls, also known as Bhagsu Falls, is an beautiful waterfall situated at Bhagsu village behind Bhagsunath Temple near McLeod Ganj in Kangra district of Himachal Pradesh.

Cascading down from a height of 20 m, this is a mid-size waterfall. During monsoon, this waterfall turns beautiful alongside a mountain that features slate graffiti. This area is covered with snowfall during winters. Tourists love to swim across the cold water which gives the pleasant and refreshing experience. Trekking is also good and much enjoyable option here.

The Bhagsu village is a popular picnic spot and also home to the famous Bhagsunath Temple dedicated to Lord Shiva. This is a famous tourist attraction and also an important place for Hindu pilgrims. Reaching this waterfall needs some hard work as visitors need to climb the hill halfway to reach the waterfall. There is a nice cafeteria next to the falls and the area serves as an excellent picnic spot for tourists. Bhagsunag Falls is about 3 km from McLeodganj and best visited by trek, although one can also drive up to Bhagsu village and trek for about 1 km to reach the falls.
</dl><br>

</center></body>
</html>