<!DOCTYPE html>
<html>
<head>
<title>Form tag </title>
</head>
<body>
 
<center>

<form action="boot.html" method="post">
<h1>Registration Form</h1>	
<div style="margin-top:50px;border-style:solid;width:320px;height:500px;border-radius:20px">
 <p>User Name :- <input type="text" required > </p>
 <p>Password :-<input type="password" required></p>

<p>
Email:-<input type="email" name="">


</p>

<p>
D.O.B :- <input type="date" name="">

</p>
<p>Number :- <input type="number" name=""></p>
<p>Time :- <input type="time" name=""></p>
 <p>Gender :- <input type="radio" name="gender">Male <input type="radio" name="gender"> Female</p>
 <p>hobbies :- <input type="checkbox" checked >Cricket<input type="checkbox">Football <input type="checkbox">Basketball</p>
<p>

Telephone number:- <input type="tel" name="">

</p>
 <p> File upload :- <input type="file" name=""></p>
 <p>

 	<input type="submit"name="">
<input type="reset" name="">
</p>
 </p>

</div>
</form>

</center>

</body>
</html>

