{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>KANGRA</title>
	<style>
		.a{
font-size:40px;
font-style:italic;
color:blue; 
}
.b{
font-size:25px;
font-style:italic;
}

body{
background-color: lavender;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: grey;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
nav ul li {
	font-weight: bold;
	width: 175px;
	height: 60px;
	line-height: 20px;
	float:right;
	text-align: center;
	word-spacing: 10px;
	margin-top: 30px;
}
nav ul ul{
	position: absolute;
	display: none;


}
nav ul li:hover > ul{
	display: block;

} 
   /*nav ul li:hover{
   background:  pink;
    transition: all ease-in-out 0.45s;*/
} 


</style>
</head>
<body>


	<center>
	<nav id="active">
	<ul>     
		<li><a href="contact">CONTACT US</a></li>
	
		<li><a href="gallery">GALLARY</a>
		

	 <li><a href="file:///C:/Users/new%20user/Desktop/bootstrap/wbsite.html">TOURIST PLACE</a>

	<ul>
        <li><a href="kangra">KANGRA</a></li>
        <li><a href="chamba">CHAMBA</a></li>
        <li><a href="dharmshala">DHARAMSHALA</a></li>
        <li><a href="khajjiar">KHAJJIAR</a></li>
        <li><a href="shimla">SHIMLA</a></li>
        <li><a href="kullu">KULLU-MANALI</a></li>
       
    </ul>
		</li>
		
	
		<li><a href="home">HOME</a></li>
	</ul>
	</nav>


<h1 style="font-size:40px;font-style:italic;"><u>WELCOME TO KANGRA VALLEY</u><h1>
 <p style="font-size:25px;font-style:italic;">Kangra district lies between 31˚ 21′ to 32˚ 59′ N latitude and 75˚ 47′ 55″ to 77˚ 45′ E longitude. It is situated on the southern escarpment of the Himalayas.
Kangra is a composite word made out of Kaann (meaning ear) + gaddha (create/mold)
Kangra district lies between 31˚ 21′ to 32˚ 59′ N latitude and 75˚ 47′ 55″ to 77˚ 45′ E longitude. It is situated on the southern escarpment of the Himalayas. The entire area of the district is traversed by the varying altitude of the Shivaliks, Dhauladhar and the Himalayas from north-west to south-east. The altitude varies from 500 metres above mean sea level (amsl) to around 5000 metres amsl. It is encapsulated in the north by the districts of Chamba and Lahaul and Spiti, in the south by Hamirpur and Una, in the east by Mandi and in the west by Gurdaspur district of Punjab. The present Kangra district came into existence on the 1st September, 1972 consequent upon the re-organisation of districts by the Government of Himachal Pradesh. It was the largest district of the composite Punjab in terms of area till it was transferred to Himachal Pradesh on the 1st November, 1966 and had six tehsils namely Nurpur, Kangra, Palampur, Dehragopipur, Hamirpur and Una.
<br><br>
DISTRICT AT A GLANCE

Area: 5,739 Sq. Km.<br>
Villages: 3906<br>
Languages: Hindi, Pahari<br>
Population: 1,510,07<br>


		Country:-India<br>
		State:-Himachal pradesh<br>
		Capital:-Shimla<br>
		District:-Kangra
		Language:-Hindi,English<br><br></p>
<dl></dd>
</dl>
		
        <div style="border-style: groove; width: 900px; height: 500px;"><img src="{% static 'images/photocard 5.jpg' %}" width="900" height="500"></div> 
		


 <h5 style="font-size:40px;font-style:italic;color:blue;"><U>Best Places to Visit in Kanga</U> </h5>


   <dl>
   	<dt class="a">Maharana Pratap Sagar</dt><br><br>

	<div style="border-style:groove;width:900px;height:500px;"><img src= "{% static 'images/mh.jpg' %}" width="900" height="500"></div><br><br>
	
	<dd class="b">Maharana Pratap Sagar (Devanagari: महाराणा प्रताप सागर), in India, also known as Pong Reservoir or Pong Dam Lake was created in 1975, by building the highest earthfill dam in India on the Beas River in the wetland zone of the Siwalik Hills of the Dehra Gopipur Division Kangra district of the state of Himachal Pradesh. Town of Gopipur is submerged in the reservoir, many families were displaced while flooding of reservoir. Named in the honour of Maharana Pratap (1540–1597), the reservoir or the lake is a well-known wildlife sanctuary and one of the 27 international wetland sites declared in India by the Ramsar Convention.[3][4] The reservoir covers an area of 24,529 hectares (60,610 acres),[5] and the wetlands portion is 15,662 hectares (38,700 acres).</dd>
</dl>

<dl>
	<dt class="a">Kangra Fort</dt>
	<br><br>
	<div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\kangrafort.jpg' %}" width="900" height="500"></div><br><br>
	<dd class="b">The Kangra Fort was built by the royal Rajput family of Kangra State (the Katoch dynasty), which traces its origins to the ancient Trigarta Kingdom, mentioned in the Mahabharata epic. It is the largest fort in the Himalayas and probably the oldest dated fort in India. The fort of Kangra resisted Akbar’s siege in 1615. However, Akbar’s son Jehangir successfully subdued the fort in 1620, forcing the submission of the Raja of Chamba, “the greatest of all the rajas in the region”.[1] Mughal Emperor Jahangir with the help of Suraj Mal garrisoned with his troops.</dd>
</dl>





<dl>
	<dt class="a">Varjeshwari Temple </dt><br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\bar1.jpg' %}" width="900" height="500"></div><br><br>
<dd class="b">The Vajreshwari temple is located in the town of Kangra, Kangra district, Himachal Pradesh, India and is 11 km away from the nearest railway station of Kangra. The Kangra Fort is situated nearby. Its location on a mountain near Chamunda Devi temple, is 16 km from Nagarkot..</dd>
</dl>

<dl>
	<dt class="a">Baba Baroh </dt><br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\baroh1.jpg' %}" width="900" height="500"></div><br><br>
<dd class="b">Baba Baroh is a tehsil in Kangra district, India known for a temple made of white marble to Radha Krishan and the Goddess Durga. This temple is famous for the largest amount of white marble used for any temple in Himachal Pradesh. Baba Baroh is located 23 km from Kangra and 52 km away from Dharamshala.[1] In this temple there is an idol of Goddess Durga made of metal. The main idols, Krishna and Radha are also found in the temple.[2] It was built by Mr.Bali Ram Sharma who was a devotee of lord Shiva. The temple also has a Lord Sai idol in the surrounding temple..</dd>
</dl>

<dl>
	<dt class="a">Jayanti Mata </dt><br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\jayntimata.jpg' %}" width="900" height="500"></div><br><br>
<dd class="b">The original Jayanti Mata temple was built by Pandavas in Himachal Pradesh. Legend behind the shifting of the shrine, talks about a young princess who was an ardent devotee of Jayanti Mata. When her wedding was fixed, she was filled with grief at the thought of going far from the deity of the Goddess she worshipped everyday.

The Goddess appeared in the young girl's dreams and promised to go with her wherever she went. After the wedding ceremonies when it was time for the bride to go, a strange thing happened. The doli turned so heavy that no one could move it. The bride told the father about her dream. The King removed the idol from the shrine and gave it to his daughter. The priest and his family also followed the Goddess. The king of Hathnaur, to whose brother the princess was married to, then established a temple for the Devi on a hillock in his estate. The temple was renovated and extended by a robber named Garibdas, a devotee of Mata, who used the money the stole to help the poor people in need.</dd>
</dl>


	<dt class="a">Kangri Dham</dt><br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\km2.jpg' %}" width="900" height="500"></div><br><br>
<dd class="b">Kangri Dhaam is a traditional food festival celebrated in District Kangra. Himachali food varies from region to region. The cuisine of Himachal Pradesh is largely based on the climate and topography of the state. While the everyday meal is the usual dal-chawal-subzi-roti, special dishes are cooked during festive occasions. Among festive food, the traditional meal, Kangri Dham (lunch served in traditional occasions) finds instant mention. The traditional Dham is celebrated with great enthusiasm. The dham offers one with an opportunity to be acquainted with the various delicacies of the District.Kangri Dham

Kangri Dham is cooked only by botis (a particular caste of Brahmins who are hereditary chefs).  Preparation for this elaborate mid-day meal begins the night before. The utensils used for cooking the food are normally brass ones. It is served in courses to people who sit on floor. The food is served on leaf plates called pattlu (in local language). The Dham includes plain aromatic rice, fried pulses or dal, spicy vegetable curry of red kidney beans and many desserts to satisfy one’s appetite.

Dham is a mid day meal served to the people in himachali culture on the occasions of marriage, birthday party, retirement party or any religious days. In dham firstly cooked rice and a type of dal called moong dal is served. After that a kidney bean shaped pulse known as rajma (madra) is also served and then palda, khatta, maa ki daal and At the end meetha bhatt which means dessert is served.</dd>
</dl>


</center></body>
</html> 