{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>kullu-manali page</title>
	<style>
		.a{
font-size:40px;
font-style:italic;
color:blue; 
}
.b{
font-size:25px;
font-style:italic;
}

body{
background-color: lavender;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: grey;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
nav ul li {
	font-weight: bold;
	width: 175px;
	height: 60px;
	line-height: 20px;
	float:right;
	text-align: center;
	word-spacing: 10px;
	margin-top: 30px;
}
nav ul ul{
	position: absolute;
	display: none;


}
nav ul li:hover > ul{
	display: block;

} 
   /*nav ul li:hover{
   background:  pink;
    transition: all ease-in-out 0.45s;*/
} 
</style>
</head>
<body>


	<center>
	<nav id="active">
	<ul>     
		<li><a href="contact">CONTACT US</a></li>
	
		<li><a href="gallery">GALLARY</a>
		

	 <li><a href="">TOURIST PLACE</a>

	<ul>
        <li><a href="kangra">KANGRA</a></li>
        <li><a href="kinnaur">KINNAUR</a></li>
        <li><a href="chamba">CHAMBA</a></li>
        <li><a href="dharmshala">DHARAMSHALA</a></li>
        <li><a href="shimla">SHIMLA</a></li>
        <li><a href="kullu">KULLU-MANALI</a></li>
       
    </ul>
		</li>
		
	
		<li><a href="home">HOME</a></li>
	</ul>
	</nav>
	
<h1 style="font-size:40px;font-style:italic;"><u>WELCOME TO KULLU-MANALI</u><h1>
 <p style="font-size:25px;font-style:italic;">Kullu Manali is best known for its scenic beauty in the midst of Himalayas. Historical references about the Kullu valley dates back to ancient Hindu literary works of Ramayana, Mahabharata and the Puranas.Manali is a resort town nestled in the mountains of the Indian state of Himachal Pradesh near the northern end of the Kullu Valley in the Beas River Valley.Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking center and honeymoon destination.  It's also a jumping-off point for paragliding, rafting and mountaineering in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.<br><br>




		Country:-India<br>
		State:-Himachal pradesh<br>
		Capital:-Shimla<br>
		District:-Kullu
		Language:-Hindi,English<br><br></p>
	

		
        <div style="border-style: groove; width: 900px; height: 500px;"><img src="{% static 'images/km.jpg' %}" width="900" height="500"></div> 
		


 <h5 style="font-size:40px;font-style:italic;color:blue;"><U>Best Places to Visit in Kullu-Manali</U> </h5>


   <dl>
   	<dt class="a">01.Hidimba temple</dt><br><br>

	<div style="border-style:groove;width:900px;height:500px;"><img src= "{% static 'images/Hidima-temple-images.jpg' %}" width="900" height="500"></div><br><br>
	
	<dd class="b">Hidimba Devi Temple, locally known as Dhungari Temple, also known variously as the Hadimba Temple, is located in Manāli, a hill station in the State of Himāchal Pradesh in north India. It is an ancient cave temple dedicated to Hidimbi Devi, wife of Bhima, a figure in the Indian epic Mahābhārata.A temple dedicated to the mythical demon goddess Hidimba, the wife of Bhima from the Mahabharata, this temple is amongst the top draws for tourists in Manali. The temple was constructed in 1553 and is one of the most famous places to visit in Manali.</dd>
</dl>

<dl>
	<dt class="a">02.Old Manali</dt>
	<br><br>
	<div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\oma.jpg' %}" width="900" height="500"></div><br><br>
	<dd class="b">Manali is named after the Sanatan Hindu lawgiver Manu. The name Manali is regarded as the derivative of 'Manu-Alaya' which literally means 'the abode of Manu'. Legend has it that sage Manu stepped off his ark in Manali to recreate human life after a great flood had deluged the world. Manali lies in the North of Kullu Valley. The valley is often referred to as the 'Valley of the Gods'. Old Manali village has an ancient temple dedicated to sage Manu.The British introduced apple trees in the area. The first apple orchard was set up by the British near Patlikuhl, before this, no Apple trees grew in the area. To this day, apple— along with plum and pear— remain the best source of income for the majority of inhabitants. Both Rainbow and Brown Trout was also introduced into the rivers and streams of the area by the colonisers.</dd>
</dl>





<dl>
	<dt class="a">03.Great Himalayan National Park </dt><br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images\himalyanpark.jpg' %}" width="900" height="500"></div><br><br>
<dd class="b">Spread over an area of 754 sq. km, the Great Himalayan National Park is the newest addition to the list of India's most amazing national parks. Built in the year 1984, the park lies at an altitude of 1500 to 6000 meters. The exquisite location and scenic surroundings of this park are highlighted with Deodar and Oak trees. The park has many important wildlife species native to the Western Himalayas, like Musk Deer, Brown Bear, Goral, Thar, Leopard, Snow leopard, Bharal, Serow, Monal, Kalij, Koklas, Cheer, Tragopan, Snow cock etc. Many people visit this amazing park to experience trekking and camping in the alpine pastures of the Kully region. The best seasons to visit this park are summer and autumn.</dd>
</dl>


<dl>
	<dt class="a">04.Rohtang Pass</dt>
	<br><br>
 <div style="border-style:groove;width:900px;height:500px;"><img src="{% static 'images/rohtang-pass-manali.jpeg' %}" width="900" height="500"></div><br><br>
<dd class="b">Rohtang Pass, is a high mountain pass on the eastern Pir Panjal Range of the Himalayas around 51 km from Manali. It connects the Kullu Valley with the Lahaul and Spiti Valleys of Himachal Pradesh, India.If you want to see the other side of Manali and the touristy town, just take a walk across the Manalsu River bridge and cross over into the part of Manali that is also known as ‘Old Manali’. The exotic charm of the village will make you feel like you have walked into a whole other world.Rohtang Pass, is a high mountain pass on the eastern Pir Panjal Range of the Himalayas around 51 km from Manali. It connects the Kullu Valley with the Lahaul and Spiti Valleys of Himachal Pradesh, India.</dd>
</dl>
</center></body>
</html> 