<!DOCTYPE html>
<html lang="en">
<head>
<title>Single Listing</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="DirectoryPlus template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/listing.css">
<link rel="stylesheet" type="text/css" href="styles/listing_responsive.css">
</head>
<body>

<!-- Menu -->

<div class="menu">
	<div class="menu_container text-right">
		<div class="menu_close">close</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<div class="menu_link">
			<a href="#">+Add Listing</a>
		</div>
	</div>
</div>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_background"><div class="background_image" style="background-image:url(images/header.jpg)"></div></div>
		<div class="header_overlay"></div>
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			
			<!-- Logo -->
			<div class="logo"><a href="#">Directory<span>Plus</span><span>+</span></a></div>

			<!-- Header Nav -->
			<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
				<nav class="main_nav">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="listings.html">Listings</a></li>
						<li><a href="blog.html">News</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
				<div class="add_listing text-center trans_200"><a href="#">+Add Listing</a></div>
				<div class="log_reg">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
				<div class="hamburger">
					<i class="fa fa-bars trans_200"></i>
				</div>
			</div>

		</div>
	</header>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="container fill_height">
				<div class="row fill_height">
					<div class="col fill_height">
						<div class="listing_image">
							<div class="listing_background_image_left">
								<div class="background_image" style="background-image:url(images/listing_image_2.jpg)"></div>
							</div>
							<div class="listing_background_image_right">
								<div class="background_image" style="background-image:url(images/listing_image_3.jpg)"></div>
							</div>
							<div class="background_image" style="background-image:url(images/listing_image_1.jpg)"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="home_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="listing_title"><h1>The Meal</h1></div>
								<div class="listing_info_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
									<div class="listing_info d-flex flex-row align-items-center justify-content-start">
										<div class="listing_rating">4,5</div>
										<div class="listing_price">$$$</div>
										<div class="listing_type">Restaurant</div>
										<div class="listing_status">Closed</div>
									</div>
									<div class="listin_info_options d-flex flex-row align-items-start justify-content-start ml-lg-auto">
										<div class="listing_info_button listing_info_button_1"><a href="#">Write a review</a></div>
										<div class="listing_info_button listing_info_button_2"><a href="#">Book a table</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Listing -->

		<div class="listing">
			<div class="container">
				<div class="row">
					
					<!-- Listing Content -->
					<div class="col-lg-8">
						<div class="listing_content">
							<div class="section_title"><h1>About The Meal</h1></div>
							<div class="listing_text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget lorem luctus ligula volutpat fermentum. Nulla auctor odio sit amet dui lobortis aliquet. Donec leo eros, faucibus vitae finibus a, tincidunt vehicula eros. Morbi aliquet sem euismod venenatis elementum. Proin laoreet sapien sit amet posuere sollicitudin. Mauris quis faucibus velit. Aenean dictum mauris tristique turpis eleifend, hendrerit interdum felis facilisis. In mollis vel libero sit amet fringilla. Suspendisse nibh diam, ullamcorper vitae commodo at, tempus vel sem. Pellentesque dictum, nisi sit amet semper rutrum, sapien nisl scelerisque massa, vel fermentum ex mi id mi. Aenean dictum mauris tristique turpis el.</p>
							</div>

							<!-- Accordions -->
							<div class="accordions">

								<!-- Accordion -->
								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Maecenas velit ex, posuere vitae sapien eu, consectetur iaculis</div></div>
									<div class="accordion_panel">
										<div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue.</p>
										</div>
									</div>
								</div>
								
								<!-- Accordion -->
								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Mauris diam augue, aliquam ut accumsan at, dignissim</div></div>
									<div class="accordion_panel">
										<div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue.</p>
										</div>
									</div>
								</div>

								<!-- Accordion -->
								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Mauris diam augue, aliquam ut accumsan at, dignissim</div></div>
									<div class="accordion_panel">
										<div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue.</p>
										</div>
									</div>
								</div>

							</div>

							<!-- Reviews -->
							<div class="reviews">
								<div class="section_title"><h1>2 Reviews</h1></div>
								<div class="reviews_container">
									
									<!-- Review -->
									<div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
										<div class="review_user_container">
											<div>
												<div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
													<div class="review_user_image"><img src="images/user_3.jpg" alt=""></div>
													<div class="text-lg-center">
														<div class="review_user_name"><a href="#">Maria Smith</a></div>
														<div class="review_count"><a href="#">5 reviews</a></div>
													</div>
												</div>
											</div>
										</div>
										<div class="review_content">
											<div class="review_title_container d-flex flex-row align-items-start justify-content-start">
												<div class="review_title">"I love it there"</div>
												<div class="review_rating ml-auto">4,5</div>
											</div>
											<div class="review_text">
												<p>Great place to visit, the food is awesome, I really love it. I would recommend it to other people.</p>
											</div>
										</div>
									</div>

									<!-- Review -->
									<div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
										<div class="review_user_container">
											<div>
												<div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
													<div class="review_user_image"><img src="images/user_4.jpg" alt=""></div>
													<div class="text-lg-center">
														<div class="review_user_name"><a href="#">Maria Smith</a></div>
														<div class="review_count"><a href="#">5 reviews</a></div>
													</div>
												</div>
											</div>
										</div>
										<div class="review_content">
											<div class="review_title_container d-flex flex-row align-items-start justify-content-start">
												<div class="review_title">"Great place"</div>
												<div class="review_rating ml-auto">4,5</div>
											</div>
											<div class="review_text">
												<p>Great place to visit, the food is awesome, I really love it. I would recommend it to other people.</p>
											</div>
											<div class="review_images d-flex flex-row align-items-start justify-content-start flex-wrap">
												<div class="review_image"><a class="colorbox" href="images/review_1_large.jpg"><img src="images/review_1.jpg" alt=""></a></div>
												<div class="review_image"><a class="colorbox" href="images/review_2_large.jpg"><img src="images/review_2.jpg" alt=""></a></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- Listing Sidebar -->
					<div class="col-lg-4 sidebar_col">
						<div class="sidebar">
							
							<!-- Work Hours -->
							<div class="work_hours d-flex flex-row align-items-center justify-content-start">
								<div class="closed">Closed Now!</div>
								<div class="ml-auto">Open : 09:00 - 24:00</div>
							</div>

							<!-- Info -->
							<div class="sidebar_info">
								<ul>
									<li class="d-flex flex-row align-items-start justify-content-start">
										<div class="sidebar_info_icon"><img src="images/info_1.png" alt=""></div>
										<div class="sidebar_info_content"><span>Address: </span>Main Str, no 253, New York, NY</div>
									</li>
									<li class="d-flex flex-row align-items-start justify-content-start">
										<div class="sidebar_info_icon"><img src="images/info_2.png" alt=""></div>
										<div class="sidebar_info_content"><span>Phone: </span>+546 990221 123</div>
									</li>
									<li class="d-flex flex-row align-items-start justify-content-start">
										<div class="sidebar_info_icon"><img src="images/info_3.png" alt=""></div>
										<div class="sidebar_info_content"><span>E-mail: </span>restaurant@contact.com</div>
									</li>
								</ul>
							</div>

							<!-- Location -->
							<div class="location">
								<div class="location_icon"><img src="images/loc.png" alt=""></div>

								<!-- Google Map -->
		
								<div class="map">
									<div id="google_map" class="google_map">
										<div class="map_container">
											<div id="map"></div>
										</div>
									</div>
								</div>

							</div>

							<!-- Similar Places -->
							<div class="similar_places">
								<div class="section_title"><h1>Similar places</h1></div>
								<div class="similar_places_container d-flex flex-lg-column flex-row align-items-start justify-content-between flex-wrap">
									
									<!-- Similar Place -->
									<div class="similar_place">
										<div class="similar_place_image">
											<div class="location_icon"><a href="#"><img src="images/loc.png" alt=""></a></div>
											<div class="similar_place_rating">4,5</div>
											<img src="images/similar.jpg" alt="">
										</div>
										<div class="similar_place_title"><a href="#">The Lunch</a></div>
									</div>
									
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Footer -->

		<footer class="footer container_custom">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_container d-flex flex-md-row flex-column align-items-center justify-content-md-start justify-content-center">
							<div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
							<nav class="footer_nav ml-md-auto order-md-2 order-1">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="listings.html">Listings</a></li>
									<li><a href="blog.html">News</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
		
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/listing.js"></script>
</body>
</html>